@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Rift Soft;
    font-weight: 300;
    src: url('/public/fonts/Rift Soft Demi.otf');
}


.hex {
    margin-top: 70px;
    width: 208px;
    height: 120px;
    background: #6C6;
    position: relative;
  }
  
  .hex:before,
  .hex:after {
    content: "";
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
  }
  
  .hex:before {
    top: -59px;
    border-bottom: 60px solid #6C6;
  }
  
  .hex:after {
    bottom: -59px;
    border-top: 60px solid #6C6;
  }
  
  .hex.inner {
    background-color: blue;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index: 1;
  }
  
  .hex.inner:before {
    border-bottom: 60px solid blue;
  }
  
  .hex.inner:after {
    border-top: 60px solid blue;
  }
  
  